.custom-ul li {
  padding-left: 3rem;
  font-weight: 700;
  color: #726a6a !important;
  padding: 1.4rem 0rem 1.4rem 3rem;
}
.custom-ul li a {
  color: #726a6a !important;
  background-color: inherit !important;
  padding: 1.3rem 0;
}
.custom-ul li a:hover {
  color: var(--primary-color) !important;
  background-color: inherit !important;
}
.custom-ul li .active {
  color: var(--primary-color) !important;
  position: relative;
}

@media (max-width: 992px) {
  .navbar {
    padding: 1rem 0 !important;
  }
}

.btn-black {
  background-color: black;
  color: white;
}
.btn-black:hover {
  color: white;
  background-color: black;
}
